$icomoon-font-family: 'icomoon' !default;
$icomoon-font-path: 'fonts' !default;

$icon-home: '\e900';
$icon-home2: '\e901';
$icon-home3: '\e902';
$icon-office: '\e903';
$icon-video-camera: '\e914';
$icon-dice: '\e915';
$icon-pacman: '\e916';
$icon-spades: '\e917';
