<ActionBar title="fonts" class="action-bar"> </ActionBar>
<StackLayout class="p-20">
  <ScrollView class="h-full">
    <StackLayout>
      <GridLayout columns="*,*" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto">
        <Label row="0" col="1" text="fa-trash-can" class="btn btn-primary fas"></Label>
        <Label row="1" col="1" text="fa-trash-can" class="btn btn-primary far"></Label>
        <Label row="2" col="1" text="fa-square-whatsapp" class="btn btn-primary fab"></Label>
        <Label row="3" col="1" text="fa-hourglass-2" class="btn btn-primary fas"></Label>
        <Label row="4" col="1" text="mdi-trash-can" class="btn btn-primary mdi"></Label>
        <Label row="5" col="1" text="trash-can" class="btn btn-primary monoton"></Label>
        <Label row="6" col="1" text="icofont-trash" class="btn btn-primary icoFont"></Label>
        <Label row="7" col="1" text="drip-trash-can" class="btn btn-primary drip"></Label>

        <Label row="8" col="1" text="icon-home2" class="btn btn-primary icon"></Label>
        <Label row="9" col="1" text="icon-spades" class="btn btn-primary icon"></Label>

        <Label row="0" col="0" text="fa&#8722;trash&#8722;can"></Label>
        <Label row="1" col="0" text="fa&#8722;trash&#8722;can"></Label>
        <Label row="2" col="0" text="fa&#8722;square&#8722;whatsapp"></Label>
        <Label row="3" col="0" text="fa&#8722;hourglass&#8722;2"></Label>

        <Label row="4" col="0" text="mdi&#8722;trash&#8722;can"></Label>
        <Label row="5" col="0" text="Monoton:"></Label>
        <Label row="6" col="0" text="icofont&#8722;trash"></Label>
        <Label row="7" col="0" text="drip&#8722;trash"></Label>
        <Label row="8" col="0" text="icomoon&#8722;home2"></Label>
        <Label row="9" col="0" text="icomoon&#8722;spades"></Label>
      </GridLayout>
    </StackLayout>
  </ScrollView>
</StackLayout>
